---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortableText from "../components/PortableText.astro";
import SocialBar from "../components/SocialBar.astro";
import {
  getBiography,
  getSocialLinks,
  getServices,
  getTechnologies,
  getTestimonials,
} from "../sanity/util";

const bio = await getBiography();
const socialLinks = await getSocialLinks();
const services = await getServices();
const techSection = await getTechnologies();
const testimonials = await getTestimonials();

import BioIllustration from "../components/BioIllustration.astro";
import LinkButton from "../components/LinkButton.astro";
import Service from "../components/Service.astro";
import TechnoItem from "../components/TechnoItem.astro";
import Testimonial from "../components/Testimonial.astro";
---

<BaseLayout title="Francisco Andrade | Web Developer">
  <main class="wrapper py-10">
    <section class="bio-grid pb-10">
      <div class="md:w-[97%] lg:max-w-lg place-self-center home-cta">
        <PortableText portableText={bio.short_bio} />
      </div>
      <div class="w-3/4 md:w-5/6 lg:w-9/12 xl:w-8/12 mx-auto">
        <div class="xl:-mt-8 2xl:-mt-12">
          <BioIllustration />
        </div>
        <div class="mt-6">
          <SocialBar resume={bio.resume.asset.url} socialLinks={socialLinks} />
        </div>
      </div>
    </section>

    <section class="pt-10">
      <h2 class="mb-16">Services</h2>
      <div class="pb-20">
        {
          services.map((service) => {
            return (
              <div class="my-10 w-5/6 service ">
                <Service service={service} />
              </div>
            );
          })
        }
      </div>
      <div
        class="tech-grid flex justify-around pb-20 md:w-3/4 mx-auto items-center"
      >
        {
          techSection.technologies.map((technology) => {
            return (
              <div class="flex flex-col justify-between items-center  ">
                <TechnoItem keyText={technology.name}>
                  <img
                    slot="tech-logo"
                    class="object-fit w-12 h-12 "
                    src={technology.icon.asset.url}
                    alt={technology.name}
                  />
                </TechnoItem>
              </div>
            );
          })
        }
      </div>
      <div class="justify-center flex mx-auto">
        <LinkButton link="/contact" name="Let's get in touch" size="md">
          <svg
            class="icon"
            slot="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"><path d="M10 7H2v6h8v5l8-8-8-8v5z"></path></svg
          >
        </LinkButton>
      </div>
    </section>

    <section class="py-16">
      <h2 class="mb-16">Testimonials</h2>
      <div class="grid grid-cols-2 gap-8">
        <p>
          Here are some kind words from clients and colleagues I've had the
          pleasure of working with:
        </p>
        {
          testimonials.map((testimonial) => {
            const author = {
              name: testimonial.author,
              title: testimonial.author_title,
              photo: testimonial.author_photo,
            };
            return <Testimonial text={testimonial.text} author={author} />;
          })
        }
      </div>
    </section>
    <!-- page decoration -->
  </main>

  <style>
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }

    .section-grid {
      display: grid;
      --columns: 2;
      grid-template-columns: repeat(var(--columns), minmax(200px, 1fr));
      gap: 4rem;
      justify-items: center;
    }

    @media (max-width: 800px) {
      .section-grid {
        --columns: 1;
      }
    }

    .bio-grid {
      --columns: 2;
      display: grid;
      grid-template-columns: repeat(var(--columns), minmax(340px, 1fr));
      gap: 2rem;
    }
    @media (max-width: 800px) {
      .bio-grid {
        --columns: 1;
        gap: 0.5rem;
        margin: 0;
      }
    }
    .tech-grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    }
  </style>
</BaseLayout>
