---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortableText from "../components/PortableText.astro";
import SocialBar from "../components/SocialBar.astro";
import {
  getBiography,
  getSocialLinks,
  getServices,
  getTechnologies,
  getTestimonials,
} from "../sanity/util";

const bio = await getBiography();
const socialLinks = await getSocialLinks();
const services = await getServices();
const techSection = await getTechnologies();
const testimonials = await getTestimonials();

import BioIllustration from "../components/BioIllustration.astro";
import LinkButton from "../components/LinkButton.astro";
import Service from "../components/Service.astro";
import TechnoItem from "../components/TechnoItem.astro";
import Testimonial from "../components/Testimonial.astro";
import PageOrnament from "../components/PageOrnament.astro";
import Overlay from "../components/Overlay.astro";
import Separator from "../components/Separator.astro";
import AnchorLink from "../components/AnchorLink.astro";
---

<BaseLayout
  seo={{
    title: "Home page",
    description: "Hire me, a professional Web Developer in Quito-Ecuador",
    /* image: { src: "/images/curtain.svg", alt: "Curtain" }, */
  }}
>
  <PageOrnament placement="-top-24 left-0" />
  <main class="">
    <section class="pt-12 pb-14 relative">
      <Overlay />

      <div class="bio-grid wrapper">
        <div class="md:w-[97%] lg:max-w-lg self-center home-cta">
          <PortableText portableText={bio.short_bio} />
        </div>
        <div class="md:w-5/6 lg:w-9/12 xl:w-8/12 md:mx-auto">
          <div
            class="xl:-mt-8 2xl:-mt-12 hidden w-1/2 md:w-3/4 lg:w-full md:mx-auto md:block"
          >
            <BioIllustration />
          </div>
          <div class="mt-6">
            <SocialBar
              resume={bio.resume.asset.url}
              socialLinks={socialLinks}
            />
          </div>
        </div>
      </div>
    </section>

    <nav class="wrapper">
      <ul class="rounded flex gap-4 items-center">
        <AnchorLink linkText="Services" />
        <AnchorLink linkText="Endorsements" />
      </ul>
    </nav>

    <section class="py-14 relative services" id="services">
      <div class="wrapper flex flex-col">
        <h2 class="underlined_title mb-2">Services</h2>
        <div>
          {
            services.map((service) => {
              return (
                <div class="mb-10 md:w-5/6 service ">
                  <Service service={service} />
                </div>
              );
            })
          }
        </div>
        <Separator classes="self-center mb-10" />
        <div
          class="tech-grid flex justify-around pb-8 md:w-3/4 mx-auto items-center"
        >
          {
            techSection.technologies.map((technology) => {
              return (
                <div class="flex flex-col justify-between items-center  ">
                  <TechnoItem keyText={technology.name}>
                    <img
                      slot="tech-logo"
                      class="object-fit w-12 h-12 "
                      src={technology.icon.asset.url}
                      alt={technology.name}
                    />
                  </TechnoItem>
                </div>
              );
            })
          }
        </div>
        <p class="pb-10 text-center w-3/4 mx-auto">
          As a web developer, I'm committed to finding the best solutions for
          your unique needs, including working with the technologies listed
          above, new technologies or the ones you find convenient for your
          project. Contact me today to learn more!
        </p>
        <div class="justify-center flex mx-auto">
          <LinkButton link="/contact" name="Let's get in touch" size="md">
            <svg
              class="text-gray-normal fill-current"
              slot="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              ><path d="M10 7H2v6h8v5l8-8-8-8v5z"></path></svg
            >
          </LinkButton>
        </div>
      </div>
    </section>

    <section class="py-16 testimonials relative" id="endorsements">
      <div class="wrapper">
        <h2 class="underlined_title selection:bg-base-normal/40">
          Endorsements
        </h2>
        <div class="flex flex-col md:grid grid-cols-2 gap-8">
          <p class="max-w-xs text-2xl selection:bg-base-normal/40">
            Some kind words from colleagues I've had the pleasure of working
            with
          </p>
          {
            testimonials.map((testimonial) => {
              const author = {
                name: testimonial.author,
                title: testimonial.author_title,
                photo: testimonial.author_photo,
              };
              return <Testimonial text={testimonial.text} author={author} />;
            })
          }
        </div>
      </div>
    </section>

    <section class="py-16 relative bg-gray-light">
      <PageOrnament placement="bottom-0 right-0 z-20 -rotate-180" />
      <div class="wrapper">
        <div class="justify-center flex mx-auto">
          <LinkButton link="/contact" name="Let's get in touch" size="md">
            <svg
              class="icon"
              slot="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              ><path d="M10 7H2v6h8v5l8-8-8-8v5z"></path></svg
            >
          </LinkButton>
        </div>
      </div>
    </section>

    <!-- page decoration -->
  </main>
</BaseLayout>
<style>
  .testimonials {
    background-image: radial-gradient(
      500px circle at 1% -20%,
      #fefdfb 12% 12%,
      #fed867 111% 182%,
      95%,
      #262626 117% 117%
    );
  }
  .services {
    position: relative;
  }
  .services::before {
    content: "";
    opacity: 1;
    background-image: linear-gradient(
      to left,
      transparent 40%,
      hsl(45, 67%, 99%) 100%
    );
    height: 100%;
    width: 100%;
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
  }
  .services::after {
    content: "";
    position: absolute;
    opacity: 0.03;
    background-image: url(/images/hexagons.svg);
    background-repeat: space;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .section-grid {
    display: grid;
    --columns: 2;
    grid-template-columns: repeat(var(--columns), minmax(200px, 1fr));
    gap: 4rem;
    justify-items: center;
  }

  @media (max-width: 800px) {
    .section-grid {
      --columns: 1;
    }
  }

  .bio-grid {
    @apply flex flex-col;
  }
  @media (min-width: 801px) {
    .bio-grid {
      --columns: 2;
      display: grid;
      grid-template-columns: repeat(var(--columns), minmax(340px, 1fr));
      gap: 2rem;
    }
  }
  .tech-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }

  @media (max-width: 800px) {
    .tech-grid {
      display: grid;
      gap: 4rem;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  function animateOnScroll(element) {
    gsap.from(element, {
      x: -200,
      opacity: 0,
      duration: 1,
      ease: "back",
      scrollTrigger: {
        trigger: element,
        markers: true,
        start: "top 85%",
        end: "bottom 25%",
        toggleActions: "restart pause resume pause",
      },
    });
  }
  const titles = document.querySelectorAll("h2");

  const testimonials = document.querySelectorAll(".testimonial-card");

  titles.forEach((title) => {
    animateOnScroll(title);
  });

  testimonials.forEach((testimonial) => {
    animateOnScroll(testimonial);
  });
</script>
