---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortableText from "../components/PortableText.astro";
import SocialBar from "../components/SocialBar.astro";
import {
  getBiography,
  getSocialLinks,
  getServices,
  getTechnologies,
} from "../sanity/util";

const bio = await getBiography();
const socialLinks = await getSocialLinks();
const services = await getServices();
const techSection = await getTechnologies();

import BioIllustration from "../components/BioIllustration.astro";
import LinkButton from "../components/LinkButton.astro";
import Service from "../components/Service.astro";
import TechnoItem from "../components/TechnoItem.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main class="wrapper py-20">
    <section class="bio-grid pb-10">
      <div class="md:w-[97%] lg:max-w-lg">
        <PortableText portableText={bio.short_bio} />
      </div>
      <div class="w-3/4 md:w-5/6 lg:w-9/12 xl:w-8/12 mx-auto">
        <div class="xl:-mt-8 2xl:-mt-12">
          <BioIllustration />
        </div>
        <div class="mt-6">
          <SocialBar resume={bio.resume.asset.url} socialLinks={socialLinks} />
        </div>
      </div>
    </section>

    <section class="pt-16">
      <div class="section-grid pb-20">
        {
          services.map((service) => {
            return (
              <div class="shadow-2xl  py-10 px-8 rounded shadow-white-touch border border-slate-200 ">
                <Service service={service} />
              </div>
            );
          })
        }
      </div>
      <div
        class="tech-grid flex justify-around pb-20 md:w-3/4 mx-auto items-center"
      >
        {
          techSection.technologies.map((technology) => {
            return (
              <div class="flex flex-col justify-between items-center  ">
                <TechnoItem keyText={technology.name}>
                  <img
                    slot="tech-logo"
                    class="object-fit w-12 h-12 "
                    src={technology.icon.asset.url}
                    alt={technology.name}
                  />
                </TechnoItem>
              </div>
            );
          })
        }
      </div>
      <div class="justify-center flex mx-auto">
        <LinkButton link="/contact" name="Let's get in touch" size="md">
          <svg
            class="icon"
            slot="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"><path d="M10 7H2v6h8v5l8-8-8-8v5z"></path></svg
          >
        </LinkButton>
      </div>
    </section>
    <svg
      class="absolute w-24 -z-10 top-3 left-0"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 400 400"
      ><path
        fill="#fff"
        d="M240.661 254.909C228.862 257.731 217.707 248.68 210.672 237.367C202.594 224.374 193.642 214.948 181.249 206.83C165.575 196.562 152.318 193.479 135.393 190.256C109.763 185.376 88.5853 197.05 67.6927 208.567C64.5176 210.317 61.3492 212.064 58.1727 213.748C44.2384 221.137 32.6806 215.635 20.7451 209.953C14.1051 206.792 7.34812 203.575 0 202.491V400H400V0H295.667C284.038 26.903 281.956 60.9676 301.5 102.299C329.237 160.957 294.308 242.077 240.661 254.909Z"
      ></path><path
        fill="#000000"
        d="M295.667 0H0V202.491C7.34809 203.575 14.105 206.792 20.745 209.953C32.6805 215.635 44.2384 221.137 58.1727 213.748C61.3492 212.064 64.5176 210.317 67.6927 208.567C88.5853 197.05 109.763 185.376 135.393 190.256C152.318 193.479 165.575 196.562 181.249 206.83C193.642 214.948 202.594 224.374 210.672 237.367C217.707 248.68 228.862 257.731 240.661 254.909C294.308 242.077 329.237 160.957 301.5 102.299C281.956 60.9676 284.038 26.903 295.667 0Z"
      ></path><path
        fill="#eae7d6"
        d="M180.036 202.42C180.036 207.94 175.561 212.415 170.041 212.415C164.522 212.415 160.047 207.94 160.047 202.42C160.047 196.9 164.522 192.426 170.041 192.426C175.561 192.426 180.036 196.9 180.036 202.42Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 261.055C241.335 266.575 236.86 271.05 231.34 271.05C225.82 271.05 221.346 266.575 221.346 261.055C221.346 255.535 225.82 251.061 231.34 251.061C236.86 251.061 241.335 255.535 241.335 261.055Z"
      ></path><path
        fill="#000000"
        d="M149.385 261.055C149.385 266.575 144.911 271.05 139.391 271.05C133.871 271.05 129.396 266.575 129.396 261.055C129.396 255.535 133.871 251.061 139.391 251.061C144.911 251.061 149.385 255.535 149.385 261.055Z"
      ></path><path
        fill="#000000"
        d="M149.385 202.42C149.385 207.94 144.911 212.415 139.391 212.415C133.871 212.415 129.396 207.94 129.396 202.42C129.396 196.9 133.871 192.426 139.391 192.426C144.911 192.426 149.385 196.9 149.385 202.42Z"
      ></path><path
        fill="#000000"
        d="M149.385 231.738C149.385 237.257 144.911 241.732 139.391 241.732C133.871 241.732 129.396 237.257 129.396 231.738C129.396 226.218 133.871 221.743 139.391 221.743C144.911 221.743 149.385 226.218 149.385 231.738Z"
      ></path><path
        fill="#000000"
        d="M180.036 261.055C180.036 266.575 175.561 271.05 170.041 271.05C164.522 271.05 160.047 266.575 160.047 261.055C160.047 255.535 164.522 251.061 170.041 251.061C175.561 251.061 180.036 255.535 180.036 261.055Z"
      ></path><path
        fill="#000000"
        d="M161.697 196.918C160.654 198.496 160.047 200.387 160.047 202.42C160.047 207.94 164.522 212.415 170.041 212.415C174.413 212.415 178.129 209.608 179.486 205.699C173.338 201.837 167.535 199.063 161.697 196.918Z"
      ></path><path
        fill="#000000"
        d="M180.036 290.372C180.036 295.892 175.561 300.367 170.041 300.367C164.522 300.367 160.047 295.892 160.047 290.372C160.047 284.853 164.522 280.378 170.041 280.378C175.561 280.378 180.036 284.853 180.036 290.372Z"
      ></path><path
        fill="#000000"
        d="M180.036 231.738C180.036 237.257 175.561 241.732 170.041 241.732C164.522 241.732 160.047 237.257 160.047 231.738C160.047 226.218 164.522 221.743 170.041 221.743C175.561 221.743 180.036 226.218 180.036 231.738Z"
      ></path><path
        fill="#000000"
        d="M241.335 319.689C241.335 325.209 236.86 329.683 231.34 329.683C225.82 329.683 221.346 325.209 221.346 319.689C221.346 314.169 225.82 309.694 231.34 309.694C236.86 309.694 241.335 314.169 241.335 319.689Z"
      ></path><path
        fill="#000000"
        d="M225.929 252.651C223.171 254.43 221.346 257.529 221.346 261.055C221.346 266.575 225.82 271.05 231.34 271.05C236.86 271.05 241.335 266.575 241.335 261.055C241.335 258.852 240.622 256.816 239.415 255.164C234.723 255.961 230.154 254.919 225.929 252.651Z"
      ></path><path
        fill="#000000"
        d="M241.335 290.372C241.335 295.892 236.86 300.367 231.34 300.367C225.82 300.367 221.346 295.892 221.346 290.372C221.346 284.853 225.82 280.378 231.34 280.378C236.86 280.378 241.335 284.853 241.335 290.372Z"
      ></path><path
        fill="#000000"
        d="M210.684 319.689C210.684 325.209 206.21 329.683 200.69 329.683C195.17 329.683 190.695 325.209 190.695 319.689C190.695 314.169 195.17 309.694 200.69 309.694C206.21 309.694 210.684 314.169 210.684 319.689Z"
      ></path><path
        fill="#000000"
        d="M210.684 261.055C210.684 266.575 206.21 271.05 200.69 271.05C195.17 271.05 190.695 266.575 190.695 261.055C190.695 255.535 195.17 251.061 200.69 251.061C206.21 251.061 210.684 255.535 210.684 261.055Z"
      ></path><path
        fill="#000000"
        d="M210.684 290.372C210.684 295.892 206.21 300.367 200.69 300.367C195.17 300.367 190.695 295.892 190.695 290.372C190.695 284.853 195.17 280.378 200.69 280.378C206.21 280.378 210.684 284.853 210.684 290.372Z"
      ></path><path
        fill="#eae7d6"
        d="M210.684 231.738C210.684 237.257 206.21 241.732 200.69 241.732C195.17 241.732 190.695 237.257 190.695 231.738C190.695 226.218 195.17 221.743 200.69 221.743C206.21 221.743 210.684 226.218 210.684 231.738Z"
      ></path><path
        fill="#000000"
        d="M199.079 221.872C194.325 222.643 190.695 226.766 190.695 231.738C190.695 237.257 195.17 241.732 200.69 241.732C204.713 241.732 208.18 239.355 209.765 235.93C206.425 230.71 202.922 226.076 199.079 221.872Z"
      ></path><path
        fill="#000000"
        d="M271.985 319.689C271.985 325.209 267.51 329.683 261.991 329.683C256.471 329.683 251.996 325.209 251.996 319.689C251.996 314.169 256.471 309.694 261.991 309.694C267.51 309.694 271.985 314.169 271.985 319.689Z"
      ></path><path
        fill="#000000"
        d="M271.985 261.055C271.985 266.575 267.51 271.05 261.991 271.05C256.471 271.05 251.996 266.575 251.996 261.055C251.996 255.535 256.471 251.061 261.991 251.061C267.51 251.061 271.985 255.535 271.985 261.055Z"
      ></path><path
        fill="#000000"
        d="M271.985 290.372C271.985 295.892 267.51 300.367 261.991 300.367C256.471 300.367 251.996 295.892 251.996 290.372C251.996 284.853 256.471 280.378 261.991 280.378C267.51 280.378 271.985 284.853 271.985 290.372Z"
      ></path><path
        fill="#000000"
        d="M271.985 231.738C271.985 237.257 267.51 241.732 261.991 241.732C256.471 241.732 251.996 237.257 251.996 231.738C251.996 226.218 256.471 221.743 261.991 221.743C267.51 221.743 271.985 226.218 271.985 231.738Z"
      ></path><path
        fill="#000000"
        d="M302.633 319.689C302.633 325.209 298.159 329.683 292.639 329.683C287.119 329.683 282.645 325.209 282.645 319.689C282.645 314.169 287.119 309.694 292.639 309.694C298.159 309.694 302.633 314.169 302.633 319.689Z"
      ></path><path
        fill="#000000"
        d="M302.633 261.055C302.633 266.575 298.159 271.05 292.639 271.05C287.119 271.05 282.645 266.575 282.645 261.055C282.645 255.535 287.119 251.061 292.639 251.061C298.159 251.061 302.633 255.535 302.633 261.055Z"
      ></path><path
        fill="#eae7d6"
        d="M302.633 202.42C302.633 207.94 298.159 212.415 292.639 212.415C287.119 212.415 282.645 207.94 282.645 202.42C282.645 196.9 287.119 192.426 292.639 192.426C298.159 192.426 302.633 196.9 302.633 202.42Z"
      ></path><path
        fill="#eae7d6"
        d="M271.985 231.738C271.985 237.257 267.51 241.732 261.991 241.732C256.471 241.732 251.996 237.257 251.996 231.738C251.996 226.218 256.471 221.743 261.991 221.743C267.51 221.743 271.985 226.218 271.985 231.738Z"
      ></path><path
        fill="#000000"
        d="M293.328 212.391C298.526 212.037 302.633 207.708 302.633 202.42C302.633 200.446 302.06 198.605 301.072 197.055C298.82 202.389 296.227 207.525 293.328 212.391Z"
      ></path><path
        fill="#000000"
        d="M302.633 290.372C302.633 295.892 298.159 300.367 292.639 300.367C287.119 300.367 282.645 295.892 282.645 290.372C282.645 284.853 287.119 280.378 292.639 280.378C298.159 280.378 302.633 284.853 302.633 290.372Z"
      ></path><path
        fill="#000000"
        d="M302.633 231.738C302.633 237.257 298.159 241.732 292.639 241.732C287.119 241.732 282.645 237.257 282.645 231.738C282.645 226.218 287.119 221.743 292.639 221.743C298.159 221.743 302.633 226.218 302.633 231.738Z"
      ></path><path
        fill="#000000"
        d="M333.284 261.055C333.284 266.575 328.809 271.05 323.289 271.05C317.77 271.05 313.295 266.575 313.295 261.055C313.295 255.535 317.77 251.061 323.289 251.061C328.809 251.061 333.284 255.535 333.284 261.055Z"
      ></path><path
        fill="#000000"
        d="M333.284 202.42C333.284 207.94 328.809 212.415 323.289 212.415C317.77 212.415 313.295 207.94 313.295 202.42C313.295 196.9 317.77 192.426 323.289 192.426C328.809 192.426 333.284 196.9 333.284 202.42Z"
      ></path><path
        fill="#000000"
        d="M333.284 143.786C333.284 149.306 328.809 153.781 323.289 153.781C317.77 153.781 313.295 149.306 313.295 143.786C313.295 138.267 317.77 133.792 323.289 133.792C328.809 133.792 333.284 138.267 333.284 143.786Z"
      ></path><path
        fill="#000000"
        d="M333.284 290.372C333.284 295.892 328.809 300.367 323.289 300.367C317.77 300.367 313.295 295.892 313.295 290.372C313.295 284.853 317.77 280.378 323.289 280.378C328.809 280.378 333.284 284.853 333.284 290.372Z"
      ></path><path
        fill="#000000"
        d="M333.284 231.738C333.284 237.257 328.809 241.732 323.289 241.732C317.77 241.732 313.295 237.257 313.295 231.738C313.295 226.218 317.77 221.743 323.289 221.743C328.809 221.743 333.284 226.218 333.284 231.738Z"
      ></path><path
        fill="#000000"
        d="M333.284 173.104C333.284 178.624 328.809 183.098 323.289 183.098C317.77 183.098 313.295 178.624 313.295 173.104C313.295 167.584 317.77 163.109 323.289 163.109C328.809 163.109 333.284 167.584 333.284 173.104Z"
      ></path><path
        fill="#000000"
        d="M363.934 261.055C363.934 266.575 359.46 271.05 353.94 271.05C348.42 271.05 343.945 266.575 343.945 261.055C343.945 255.535 348.42 251.061 353.94 251.061C359.46 251.061 363.934 255.535 363.934 261.055Z"
      ></path><path
        fill="#000000"
        d="M363.934 202.42C363.934 207.94 359.46 212.415 353.94 212.415C348.42 212.415 343.945 207.94 343.945 202.42C343.945 196.9 348.42 192.426 353.94 192.426C359.46 192.426 363.934 196.9 363.934 202.42Z"
      ></path><path
        fill="#000000"
        d="M363.934 231.738C363.934 237.257 359.46 241.732 353.94 241.732C348.42 241.732 343.945 237.257 343.945 231.738C343.945 226.218 348.42 221.743 353.94 221.743C359.46 221.743 363.934 226.218 363.934 231.738Z"
      ></path><path
        fill="#000000"
        d="M363.934 173.104C363.934 178.624 359.46 183.098 353.94 183.098C348.42 183.098 343.945 178.624 343.945 173.104C343.945 167.584 348.42 163.109 353.94 163.109C359.46 163.109 363.934 167.584 363.934 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M149.385 173.104C149.385 178.624 144.911 183.098 139.391 183.098C133.871 183.098 129.396 178.624 129.396 173.104C129.396 167.584 133.871 163.109 139.391 163.109C144.911 163.109 149.385 167.584 149.385 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M180.036 143.786C180.036 149.306 175.561 153.781 170.041 153.781C164.522 153.781 160.047 149.306 160.047 143.786C160.047 138.267 164.522 133.792 170.041 133.792C175.561 133.792 180.036 138.267 180.036 143.786Z"
      ></path><path
        fill="#eae7d6"
        d="M180.036 173.104C180.036 178.624 175.561 183.098 170.041 183.098C164.522 183.098 160.047 178.624 160.047 173.104C160.047 167.584 164.522 163.109 170.041 163.109C175.561 163.109 180.036 167.584 180.036 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 202.42C241.335 207.94 236.86 212.415 231.34 212.415C225.82 212.415 221.346 207.94 221.346 202.42C221.346 196.9 225.82 192.426 231.34 192.426C236.86 192.426 241.335 196.9 241.335 202.42Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 143.786C241.335 149.306 236.86 153.781 231.34 153.781C225.82 153.781 221.346 149.306 221.346 143.786C221.346 138.267 225.82 133.792 231.34 133.792C236.86 133.792 241.335 138.267 241.335 143.786Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 231.738C241.335 237.257 236.86 241.732 231.34 241.732C225.82 241.732 221.346 237.257 221.346 231.738C221.346 226.218 225.82 221.743 231.34 221.743C236.86 221.743 241.335 226.218 241.335 231.738Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 173.104C241.335 178.624 236.86 183.098 231.34 183.098C225.82 183.098 221.346 178.624 221.346 173.104C221.346 167.584 225.82 163.109 231.34 163.109C236.86 163.109 241.335 167.584 241.335 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M241.335 114.469C241.335 119.989 236.86 124.464 231.34 124.464C225.82 124.464 221.346 119.989 221.346 114.469C221.346 108.949 225.82 104.475 231.34 104.475C236.86 104.475 241.335 108.949 241.335 114.469Z"
      ></path><path
        fill="#eae7d6"
        d="M210.684 202.42C210.684 207.94 206.21 212.415 200.69 212.415C195.17 212.415 190.695 207.94 190.695 202.42C190.695 196.9 195.17 192.426 200.69 192.426C206.21 192.426 210.684 196.9 210.684 202.42Z"
      ></path><path
        fill="#eae7d6"
        d="M210.684 143.786C210.684 149.306 206.21 153.781 200.69 153.781C195.17 153.781 190.695 149.306 190.695 143.786C190.695 138.267 195.17 133.792 200.69 133.792C206.21 133.792 210.684 138.267 210.684 143.786Z"
      ></path><path
        fill="#eae7d6"
        d="M210.684 114.469C210.684 119.989 206.21 124.464 200.69 124.464C195.17 124.464 190.695 119.989 190.695 114.469C190.695 108.949 195.17 104.475 200.69 104.475C206.21 104.475 210.684 108.949 210.684 114.469Z"
      ></path><path
        fill="#eae7d6"
        d="M210.684 173.104C210.684 178.624 206.21 183.098 200.69 183.098C195.17 183.098 190.695 178.624 190.695 173.104C190.695 167.584 195.17 163.109 200.69 163.109C206.21 163.109 210.684 167.584 210.684 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M271.985 202.42C271.985 207.94 267.51 212.415 261.991 212.415C256.471 212.415 251.996 207.94 251.996 202.42C251.996 196.9 256.471 192.426 261.991 192.426C267.51 192.426 271.985 196.9 271.985 202.42Z"
      ></path><path
        fill="#eae7d6"
        d="M271.985 143.786C271.985 149.306 267.51 153.781 261.991 153.781C256.471 153.781 251.996 149.306 251.996 143.786C251.996 138.267 256.471 133.792 261.991 133.792C267.51 133.792 271.985 138.267 271.985 143.786Z"
      ></path><path
        fill="#eae7d6"
        d="M271.985 173.104C271.985 178.624 267.51 183.098 261.991 183.098C256.471 183.098 251.996 178.624 251.996 173.104C251.996 167.584 256.471 163.109 261.991 163.109C267.51 163.109 271.985 167.584 271.985 173.104Z"
      ></path><path
        fill="#eae7d6"
        d="M271.985 114.469C271.985 119.989 267.51 124.464 261.991 124.464C256.471 124.464 251.996 119.989 251.996 114.469C251.996 108.949 256.471 104.475 261.991 104.475C267.51 104.475 271.985 108.949 271.985 114.469Z"
      ></path><path
        fill="#eae7d6"
        d="M302.633 143.786C302.633 149.306 298.159 153.781 292.639 153.781C287.119 153.781 282.645 149.306 282.645 143.786C282.645 138.267 287.119 133.792 292.639 133.792C298.159 133.792 302.633 138.267 302.633 143.786Z"
      ></path><path
        fill="#eae7d6"
        d="M302.633 114.469C302.633 119.989 298.159 124.464 292.639 124.464C287.119 124.464 282.645 119.989 282.645 114.469C282.645 108.949 287.119 104.475 292.639 104.475C298.159 104.475 302.633 108.949 302.633 114.469Z"
      ></path><path
        fill="#eae7d6"
        d="M302.633 173.104C302.633 178.624 298.159 183.098 292.639 183.098C287.119 183.098 282.645 178.624 282.645 173.104C282.645 167.584 287.119 163.109 292.639 163.109C298.159 163.109 302.633 167.584 302.633 173.104Z"
      ></path></svg
    >
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .section-grid {
    display: grid;
    --columns: 2;
    grid-template-columns: repeat(var(--columns), minmax(200px, 1fr));
    gap: 4rem;
    justify-items: center;
  }

  @media (max-width: 800px) {
    .section-grid {
      --columns: 1;
    }
  }

  .bio-grid {
    --columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(340px, 1fr));
    gap: 4rem;
  }
  @media (max-width: 800px) {
    .bio-grid {
      --columns: 1;
      gap: 0.5rem;
      margin: 0;
    }
  }
  .tech-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }
</style>
